/* 
    AUTHOR: Chris Coyier
            chriscoyier@gmail.com
            http://chriscoyier.net
*/

* { margin: 0; padding: 0; }

body { font: 62.5% "Gill Sans", Georgia, sans-serif; background: url(../images/body-bg.jpg) top center repeat-x white; }
#six
#six p { font-size: 1.2em; line-height: 1.2em; }
#six a { outline: none; color: red;}
	a:hover { color: black; } 
#six a img { border: none; }
#six h1 { color: black; font-size: 3.0em; }
#six h3 { font-size: 2.0em; margin-bottom: 5px;}
#six.clear { clear: both; }

#page-wrap2 {
	margin: 20px;
	padding: 10px;
}

#six a.close {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
	width: 20px;
	height: 21px;
	background: url(../images/close_button.jpg);
	text-indent: -9999px;
}

#six.photo_slider_img {
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	overflow: hidden;
}

#six td {
	vertical-align: top;
}

#six.photo_slider {
	position: relative;
	width: 100px;
	height: 130px;
	padding: 10px;
	border: 1px solid black;
	overflow: hidden;
	margin: 25px 10px 10px 10px;
	background: white;
	float: left;
}

#six.info_area {
	display:none;
}

#six.more_info {
	display: block;
	width: 89px;
	height: 26px;
	background: url(../images/click.png);
	text-indent: -9999px;
	cursor: pointer;
}